h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 30px;}
   
   h5{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;}
   
   p{font-family: 'Courier New', Courier, monospace;
   font-size: 16px;
   }