<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dojo Survey</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="wrapper ">
        <div class="bg-dark p-5 text-white rounded col-6 mx-auto shadow-lg ">
            <h1 class="text-center">New Ninja</h1>
            <form action="/create/ninja" method="POST">
                <div class="col-md-12">
                    <label for="dojo" class="col-sm-2 col-form-label">Dojo:</label>
                    <select class="form-select" name="dojo_id">
                        {% for dojo in dojos %}
                        <option value="{{dojo.id}}">{{dojo.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-12">
                    <label for="inputName" class="col-sm-2 col-form-label">First Name:</label>
                    <input type="text" class="form-control" name="first_name" required>
                </div>
                <div class="col-md-12">
                    <label for="inputName" class="col-sm-2 col-form-label">Last Name:</label>
                    <input type="text" class="form-control" name="last_name" required>
                </div>
                <div class="col-md-12">
                    <label for="inputName" class="col-sm-2 col-form-label">Age:</label>
                    <input type="number" class="form-control" name="age" required>
                </div><br>
                <button type="submit" class="btn btn-primary">Create</button>
                <p class="text-end "><a href="/dojos">Home</a> </p>
            </form>
        </div>
    </div>
</body>

</html>