
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
   }
   /* Column */
   .columna { 
    width: 60%;
    position: static;
   } 
   /* Imagen */
   .imagen {
    background-color: #aaa;
    width: 20%;
    padding: 20px;
    text-align: center;
    float: left;
   }
   .texto {
    display: inline-block;
    padding: 20px;
   }
   
   /* Add a card effect for articles */
   .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
   }