.thing_list{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.thing_list a {
    margin-left: 10px;
}

.btn {
    display: block;
    margin: 10px 0px;
}

footer a {
    margin-left: 20px;
}