<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar Usuarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Todos los Usuarios</h1>
        <table class="table mt-3">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Operaciones</th> <!-- Nueva columna para operaciones -->
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a href="/usuario/{{ user.id }}" class="btn btn-info">Mostrar</a>
                        <a href="/usuario/{{ user.id }}/editar" class="btn btn-primary">Editar</a>
                        <a href="/usuario/{{ user.id }}/eliminar" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/crear_usuario" class="btn btn-primary">Agregar un nuevo usuario</a>
    </div>
</body>
</html>
