<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero Ajedrez</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        table {
            border-collapse: collapse;
            margin: 50px auto;
        }

        table tr td {
            border: 1px solid #000;
            width: 50px;
            height: 50px;
        }

        .color1 {
            background-color: #000;
        }

        .color2 {
            background-color: #fff;
        }
        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1> 
        {{ filas }} by {{ columnas }}
    </h1>

    <table>
        {% for i in range( filas ): %}
        <tr>
            {% for j in range( columnas): %}
            <td class="color{{ (i + j) % 2+1 }}"></td>
            {% endfor %}
        {% endfor %}
    </table>
</body>

</html>