<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos mis amigos</title>
    <!-- Agregar enlaces a los archivos CSS de Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Todos mis amigos</h1>
        {% for one_friend in all_friends %}
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title">Nombre: {{ one_friend.first_name }} {{ one_friend.last_name }}</h5>
                    <p class="card-text">Ocupación: {{ one_friend.occupation }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <h1 class="mt-5">Agregar un Amigo</h1>
        <form action="/create_friend" method="POST" class="mt-3">
            <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" id="fname" name="fname" required>
            </div>
            <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" id="lname" name="lname" required>
            </div>
            <div class="form-group">
                <label for="occ">Occupation:</label>
                <input type="text" class="form-control" id="occ" name="occ" required>
            </div>
            <button type="submit" class="btn btn-primary">Add Friend</button>
        </form>
    </div>
    <!-- Agregar enlaces a los archivos JavaScript de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
