<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ganadores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Ganadores</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Intentos</th>
                </tr>
            </thead>
            <tbody>
                {% for ganador in ganadores %}
                <tr>
                    <td>{{ ganador[0] }}</td>
                    <td>{{ ganador[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="btn btn-primary">Volver a jugar</a>
    </div>
</body>
</html>
